.header{
    text-align: center;
    margin: 10px;
    background: aqua;
    width: 100%;
    height: 100px;

}
.header_list{
    background: yellowgreen;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
}
.header_list a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}
.header_link{
    text-align: center;
    margin: 10px;
    background: cornflowerblue;
    width: 100%;
    height: 35px;
}
.body_left{
    text-align: center;
    margin: 10px;
    background: #f2f2f2;
    width: 20%;
    height: 500px;
    float: left;
}
.contain{
    text-align: center;
    margin: 10px;
    background: aquamarine;
    width: 55%;
    height: 500px;
    float: left;
}
.body_right{
    text-align: center;
    margin: 10px;
    background: cornflowerblue;
    width: 20%;
    height: 500px;
    float: left;
}
.footer{
    text-align: center;
    padding: 2px;
    background: darkseagreen;
    width: 100%;
    height: 100px;
    clear: both;
}
.body_all{
    background-image: url("../bai_2/img/catpic.jpg") ;
    position: relative;
    margin: 15px;
}